<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation=
                 "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


    <display-name>Archetype Created Web Application</display-name>
    <!-- -->
    <!--Controllers-->

    <servlet>
        <servlet-name>BookListController</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.controllers.BookListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookListController</servlet-name>
        <url-pattern>/bookList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ShowImage</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.ShowImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowImage</servlet-name>
        <url-pattern>/ShowImage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditBookServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.book.EditBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBookServlet</servlet-name>
        <url-pattern>/EditBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.book.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.cart.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClearCartServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.cart.ClearCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClearCartServlet</servlet-name>
        <url-pattern>/clearCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveOrderLineServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.cart.RemoveOrderLineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveOrderLineServlet</servlet-name>
        <url-pattern>/removeOrderLine</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddGenreServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.genre.AddGenreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGenreServlet</servlet-name>
        <url-pattern>/addGenre</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditGenreServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.genre.EditGenreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditGenreServlet</servlet-name>
        <url-pattern>/editGenre</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteGenreServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.genre.DeleteGenreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteGenreServlet</servlet-name>
        <url-pattern>/delGenre</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddPublisherServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.publisher.AddPublisherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPublisherServlet</servlet-name>
        <url-pattern>/addPublisher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditPublisherServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.publisher.EditPublisherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPublisherServlet</servlet-name>
        <url-pattern>/editPublisher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletePublisherServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.publisher.DeletePublisherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePublisherServlet</servlet-name>
        <url-pattern>/delPublisher</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddAuthorServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.author.AddAuthorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAuthorServlet</servlet-name>
        <url-pattern>/addAuthor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditAuthorServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.author.EditAuthorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAuthorServlet</servlet-name>
        <url-pattern>/editAuthor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteAuthorServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.author.DeleteAuthorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAuthorServlet</servlet-name>
        <url-pattern>/delAuthor</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.order.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetOrderStatusServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.order.SetOrderStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetOrderStatusServlet</servlet-name>
        <url-pattern>/setOrderStatus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditClientServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.view.servlets.EditClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditClientServlet</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>


    <!--erorrs-->
    <error-page>

        <exception-type>com.tsystems.javaschool.dao.exeption.NotRegisteredUserException</exception-type>

        <location>/error/not_registered_user.html</location>

    </error-page>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>bookstore</web-resource-name>
            <url-pattern>/pages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>user</role-name>
    </security-role>

    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/WEB-INF/index.jsp</form-login-page>
            <form-error-page>/error/login_error.html</form-error-page>
        </form-login-config>
    </login-config>

    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <display-name>header_and_footer</display-name>
            <url-pattern>/pages/*</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>

</web-app>



